In [8]:
from datetime import datetime 
#t= datetime.datetime.now()
print(t)
print(t.timestamp())

2022-11-02 11:31:35.586152
1667399495.586152

In [3]:
t.ctime()
t.isoformat()

'2022-11-02T11:31:35.586152'

In [6]:
import pytz

In [13]:
t_a = datetime.now(pytz.timezone('Australia/Perth'))
print(t_a)

2022-11-02 22:40:01.309105+08:00

In [14]:
import pandas as pd

In [16]:
t= pd.Timestamp.now()

In [19]:
t.is_month_start

False

In [21]:
t.strftime("%d/%m/%Y-%m:%s")

ValueError: Invalid format string

In [20]:
fechas_str = ["13/03/11","11/2/2001","1-4-2001","110101","01Jan2001"]
data = pd.DataFrame({"Fechas Str":fechas_str})
data.head()

  Fechas Str
0   13/03/11
1  11/2/2001
2   1-4-2001
3     110101
4  01Jan2001

In [29]:
data["Fechas"] = pd.to_datetime(data["Fechas Str"])
data["mes"] = data["Fechas"].apply(lambda x: x.month_name())
data

  Fechas Str     Fechas       mes
0   13/03/11 2011-03-13     March
1  11/2/2001 2001-11-02  November
2   1-4-2001 2001-01-04   January
3     110101 2001-11-01  November
4  01Jan2001 2001-01-01   January

In [31]:
texto = "05/06/19"
pd.to_datetime(texto, format = "%y/%I/%H")

Timestamp('2005-01-01 19:00:00')