In [16]:
import datetime

In [17]:
t = datetime.datetime.now()
print(t)
print(t.timestamp())

print(t.ctime())
print(t.isoformat())

2022-11-02 11:40:17.726260
1667400017.72626
Wed Nov  2 11:40:17 2022
2022-11-02T11:40:17.726260

In [18]:
t.ctime()
t.isoformat()

'2022-11-02T11:40:17.726260'

In [19]:
import pytz

In [20]:
t_a = datetime.now(pytz.timezone("Australia/Perth"))
print(t_a)

AttributeError: module 'datetime' has no attribute 'now'

In [22]:
import pandas as pd

In [23]:
t = pd.Timestamp.now()

In [33]:
t.strftime("%d/%m/%Y-%m:%s")

ValueError: Invalid format string

In [30]:
t.year #PARA AÃ‘O
t.day #PARA DIA
t.week #PARA SEMANA
t.is_month_start #PARA PRINCIPIO DE MES
t.day_name() #PARA EL NOMBRE DEL DIA

'Wednesday'

In [34]:
fechas_str = ["13/03/11","11/2/2001","1-4-2001","110101","01Jan2001"]
data = pd.DataFrame({"Fechas Str":fechas_str})
data.head()

  Fechas Str
0   13/03/11
1  11/2/2001
2   1-4-2001
3     110101
4  01Jan2001

In [38]:
data["Fechas"] = pd.to_datetime(data["Fechas Str"])
data

  Fechas Str     Fechas
0   13/03/11 2011-03-13
1  11/2/2001 2001-11-02
2   1-4-2001 2001-01-04
3     110101 2001-11-01
4  01Jan2001 2001-01-01

In [39]:
data["mes"] = data["Fechas"].apply(lambda x: x.month_name())
data

  Fechas Str     Fechas       mes
0   13/03/11 2011-03-13     March
1  11/2/2001 2001-11-02  November
2   1-4-2001 2001-01-04   January
3     110101 2001-11-01  November
4  01Jan2001 2001-01-01   January

In [41]:
texto = "05/06/2019"
pd.to_datetime(texto, format = "%y/%m/%d")

ValueError: unconverted data remains: 19