In [32]:
import pandas as pd

In [33]:
data = pd.read_csv("datasets_modif.csv")

In [34]:
data

,Unnamed: 0,start_date,end_date,created_on,lat,lon,l3,l4,rooms,surface_total,surface_covered,price,price_period,title,description,property_type
0,137,2020-08-22,2020-09-04,2020-08-22,-34.638910,-58.476073,Floresta,Sin datos,NaN,372.0,NaN,450000.0,Mensual,Exclente lote !!,"Lote 365 mts 8,90 x 43 mts C3 II.. FOT 3.6 PAR...",Lote
1,149,2020-08-22,2020-09-04,2020-08-22,-34.562124,-58.464449,Belgrano,Sin datos,NaN,NaN,NaN,20000.0,Mensual,Excelente cochera fija y cubierta en edificio ...,"Muy buena cochera, en el 4to piso en excelente...",Cochera
2,153,2020-08-22,2020-09-04,2020-08-22,-34.598112,-58.400784,Recoleta,Sin datos,NaN,265.0,265.0,600000.0,Mensual,Oficina comercial · 265m² · 2 Cochera,Gran Oportunidad! Unica piso de oficinas de 26...,Oficina
3,154,2020-08-22,2020-09-04,2020-08-22,-34.614123,-58.378985,Monserrat,Sin datos,5.0,150.0,150.0,195000.0,Mensual,Importante Oficina en Micro centro de 150 m2.,Importante Oficina de de 150 m2 con palier pr...,Oficina
4,155,2020-08-22,2020-09-04,2020-08-22,-34.603233,-58.385218,San Nicolás,Sin datos,1.0,NaN,12.0,22000.0,Mensual,Oficina - San Nicolas,VENTA DE OFICINA A METROS DEL PALACIO DE TRIBU...,Oficina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179801,999940,2020-12-04,2021-01-10,2020-12-04,-34.613926,-58.499472,Monte Castro,Sin datos,6.0,243.0,180.0,250000.0,NaN,PH 6 Ambientes c/cochera y terraza en Monte Ca...,Corredor Responsable: Rene Vera - CUCICBA 6778...,PH
179802,999959,2020-12-04,9999-12-31,2020-12-04,-34.570592,-58.462513,Belgrano,Sin datos,9.0,641.0,461.0,1650000.0,Mensual,Casa impecable en venta en la mejor zona de -...,Casa en pleno Belgrano R reciclada con excelen...,Casa
179803,999977,2020-12-04,2020-12-30,2020-12-04,-34.573074,-58.419353,Palermo,Sin datos,8.0,419.0,375.0,1350000.0,Mensual,Impactante vista a los parques. 420 m2 con coc...,Piso de 419 m2 en un emblemático edificio mode...,Departamento
179804,999978,2020-12-04,9999-12-31,2020-12-04,-34.563411,-58.445656,Belgrano,Sin datos,6.0,285.0,270.0,1400000.0,Mensual,Departamento - Belgrano,"Piso de 285mts, en la mejor zona de Belgrano.<...",Departamento
179805,999997,2020-12-04,9999-12-31,2020-12-04,-34.576445,-58.432603,Palermo,Sin datos,14.0,615.0,425.0,570000.0,Mensual,Edificio Comercial en excelente zona de Paler...,Edificio Comercial CON ENTRADA INDEPENDIENTE S...,Local comercial

In [ ]:
columnas_drop = ["id", "l1","bathrooms", "bedrooms", "ad_type", "l5", "l6"]
data.drop(columns = columnas_drop, inplace = True)

In [ ]:
data.head()

,Unnamed: 0,start_date,end_date,created_on,lat,lon,l3,l4,rooms,surface_total,surface_covered,price,price_period,title,description,property_type
0,137,2020-08-22,2020-09-04,2020-08-22,-34.638910,-58.476073,Floresta,Sin datos,NaN,372.0,NaN,450000.0,Mensual,Exclente lote !!,"Lote 365 mts 8,90 x 43 mts C3 II.. FOT 3.6 PAR...",Lote
1,149,2020-08-22,2020-09-04,2020-08-22,-34.562124,-58.464449,Belgrano,Sin datos,NaN,NaN,NaN,20000.0,Mensual,Excelente cochera fija y cubierta en edificio ...,"Muy buena cochera, en el 4to piso en excelente...",Cochera
2,153,2020-08-22,2020-09-04,2020-08-22,-34.598112,-58.400784,Recoleta,Sin datos,NaN,265.0,265.0,600000.0,Mensual,Oficina comercial · 265m² · 2 Cochera,Gran Oportunidad! Unica piso de oficinas de 26...,Oficina
3,154,2020-08-22,2020-09-04,2020-08-22,-34.614123,-58.378985,Monserrat,Sin datos,5.0,150.0,150.0,195000.0,Mensual,Importante Oficina en Micro centro de 150 m2.,Importante Oficina de de 150 m2 con palier pr...,Oficina
4,155,2020-08-22,2020-09-04,2020-08-22,-34.603233,-58.385218,San Nicolás,Sin datos,1.0,NaN,12.0,22000.0,Mensual,Oficina - San Nicolas,VENTA DE OFICINA A METROS DEL PALACIO DE TRIBU...,Oficina

In [ ]:
data["l2"].value_counts()

In [ ]:
data = data[data["l2"] == "Capital Federal"]

In [ ]:
data

,Unnamed: 0,start_date,end_date,created_on,lat,lon,l3,l4,rooms,surface_total,surface_covered,price,price_period,title,description,property_type
0,137,2020-08-22,2020-09-04,2020-08-22,-34.638910,-58.476073,Floresta,Sin datos,NaN,372.0,NaN,450000.0,Mensual,Exclente lote !!,"Lote 365 mts 8,90 x 43 mts C3 II.. FOT 3.6 PAR...",Lote
1,149,2020-08-22,2020-09-04,2020-08-22,-34.562124,-58.464449,Belgrano,Sin datos,NaN,NaN,NaN,20000.0,Mensual,Excelente cochera fija y cubierta en edificio ...,"Muy buena cochera, en el 4to piso en excelente...",Cochera
2,153,2020-08-22,2020-09-04,2020-08-22,-34.598112,-58.400784,Recoleta,Sin datos,NaN,265.0,265.0,600000.0,Mensual,Oficina comercial · 265m² · 2 Cochera,Gran Oportunidad! Unica piso de oficinas de 26...,Oficina
3,154,2020-08-22,2020-09-04,2020-08-22,-34.614123,-58.378985,Monserrat,Sin datos,5.0,150.0,150.0,195000.0,Mensual,Importante Oficina en Micro centro de 150 m2.,Importante Oficina de de 150 m2 con palier pr...,Oficina
4,155,2020-08-22,2020-09-04,2020-08-22,-34.603233,-58.385218,San Nicolás,Sin datos,1.0,NaN,12.0,22000.0,Mensual,Oficina - San Nicolas,VENTA DE OFICINA A METROS DEL PALACIO DE TRIBU...,Oficina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179801,999940,2020-12-04,2021-01-10,2020-12-04,-34.613926,-58.499472,Monte Castro,Sin datos,6.0,243.0,180.0,250000.0,NaN,PH 6 Ambientes c/cochera y terraza en Monte Ca...,Corredor Responsable: Rene Vera - CUCICBA 6778...,PH
179802,999959,2020-12-04,9999-12-31,2020-12-04,-34.570592,-58.462513,Belgrano,Sin datos,9.0,641.0,461.0,1650000.0,Mensual,Casa impecable en venta en la mejor zona de -...,Casa en pleno Belgrano R reciclada con excelen...,Casa
179803,999977,2020-12-04,2020-12-30,2020-12-04,-34.573074,-58.419353,Palermo,Sin datos,8.0,419.0,375.0,1350000.0,Mensual,Impactante vista a los parques. 420 m2 con coc...,Piso de 419 m2 en un emblemático edificio mode...,Departamento
179804,999978,2020-12-04,9999-12-31,2020-12-04,-34.563411,-58.445656,Belgrano,Sin datos,6.0,285.0,270.0,1400000.0,Mensual,Departamento - Belgrano,"Piso de 285mts, en la mejor zona de Belgrano.<...",Departamento
179805,999997,2020-12-04,9999-12-31,2020-12-04,-34.576445,-58.432603,Palermo,Sin datos,14.0,615.0,425.0,570000.0,Mensual,Edificio Comercial en excelente zona de Paler...,Edificio Comercial CON ENTRADA INDEPENDIENTE S...,Local comercial

In [ ]:
data["l3"].unique()

array(['Floresta', 'Belgrano', 'Recoleta', 'Monserrat', 'San Nicolás',
       'Retiro', 'Almagro', 'Palermo', 'Saavedra', 'Chacarita',
       'Barrio Norte', 'Villa Crespo', 'Villa Pueyrredón', 'Flores',
       'Villa Urquiza', 'Once', 'Coghlan', 'Congreso', 'Villa Devoto',
       'Boedo', 'Nuñez', 'Barracas', 'Colegiales', 'Villa del Parque',
       'Caballito', 'Balvanera', 'San Telmo', 'Monte Castro',
       'Villa General Mitre', 'Parque Chacabuco', nan, 'Abasto',
       'Puerto Madero', 'Parque Chas', 'San Cristobal',
       'Villa Santa Rita', 'Villa Lugano', 'Liniers', 'Agronomía',
       'Villa Ortuzar', 'Villa Soldati', 'Villa Luro',
       'Parque Centenario', 'Las Cañitas', 'Paternal',
       'Centro / Microcentro', 'Mataderos', 'Parque Avellaneda',
       'Pompeya', 'Parque Patricios', 'Tribunales', 'Boca', 'Villa Real',
       'Constitución', 'Versalles', 'Catalinas', 'Velez Sarsfield',
       'Villa Riachuelo'], dtype=object)

In [ ]:
data["l4"].isnull().sum()

0

In [ ]:
data["l4"][- data["l4"].isnull()]

0         Sin datos
1         Sin datos
2         Sin datos
3         Sin datos
4         Sin datos
            ...
179801    Sin datos
179802    Sin datos
179803    Sin datos
179804    Sin datos
179805    Sin datos
Name: l4, Length: 179806, dtype: object

In [ ]:
data["l4"].loc[data["l4"].isnull()] = "Sin datos"

C:\Users\miran\AppData\Local\Temp\ipykernel_14876\99486718.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["l4"].loc[data["l4"].isnull()] = "Sin datos"

In [ ]:
data

,Unnamed: 0,start_date,end_date,created_on,lat,lon,l3,l4,rooms,surface_total,surface_covered,price,price_period,title,description,property_type
0,137,2020-08-22,2020-09-04,2020-08-22,-34.638910,-58.476073,Floresta,Sin datos,NaN,372.0,NaN,450000.0,Mensual,Exclente lote !!,"Lote 365 mts 8,90 x 43 mts C3 II.. FOT 3.6 PAR...",Lote
1,149,2020-08-22,2020-09-04,2020-08-22,-34.562124,-58.464449,Belgrano,Sin datos,NaN,NaN,NaN,20000.0,Mensual,Excelente cochera fija y cubierta en edificio ...,"Muy buena cochera, en el 4to piso en excelente...",Cochera
2,153,2020-08-22,2020-09-04,2020-08-22,-34.598112,-58.400784,Recoleta,Sin datos,NaN,265.0,265.0,600000.0,Mensual,Oficina comercial · 265m² · 2 Cochera,Gran Oportunidad! Unica piso de oficinas de 26...,Oficina
3,154,2020-08-22,2020-09-04,2020-08-22,-34.614123,-58.378985,Monserrat,Sin datos,5.0,150.0,150.0,195000.0,Mensual,Importante Oficina en Micro centro de 150 m2.,Importante Oficina de de 150 m2 con palier pr...,Oficina
4,155,2020-08-22,2020-09-04,2020-08-22,-34.603233,-58.385218,San Nicolás,Sin datos,1.0,NaN,12.0,22000.0,Mensual,Oficina - San Nicolas,VENTA DE OFICINA A METROS DEL PALACIO DE TRIBU...,Oficina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179801,999940,2020-12-04,2021-01-10,2020-12-04,-34.613926,-58.499472,Monte Castro,Sin datos,6.0,243.0,180.0,250000.0,NaN,PH 6 Ambientes c/cochera y terraza en Monte Ca...,Corredor Responsable: Rene Vera - CUCICBA 6778...,PH
179802,999959,2020-12-04,9999-12-31,2020-12-04,-34.570592,-58.462513,Belgrano,Sin datos,9.0,641.0,461.0,1650000.0,Mensual,Casa impecable en venta en la mejor zona de -...,Casa en pleno Belgrano R reciclada con excelen...,Casa
179803,999977,2020-12-04,2020-12-30,2020-12-04,-34.573074,-58.419353,Palermo,Sin datos,8.0,419.0,375.0,1350000.0,Mensual,Impactante vista a los parques. 420 m2 con coc...,Piso de 419 m2 en un emblemático edificio mode...,Departamento
179804,999978,2020-12-04,9999-12-31,2020-12-04,-34.563411,-58.445656,Belgrano,Sin datos,6.0,285.0,270.0,1400000.0,Mensual,Departamento - Belgrano,"Piso de 285mts, en la mejor zona de Belgrano.<...",Departamento
179805,999997,2020-12-04,9999-12-31,2020-12-04,-34.576445,-58.432603,Palermo,Sin datos,14.0,615.0,425.0,570000.0,Mensual,Edificio Comercial en excelente zona de Paler...,Edificio Comercial CON ENTRADA INDEPENDIENTE S...,Local comercial

In [ ]:
data["currency"].value_counts()

KeyError: 'currency'

In [ ]:
data["operation_type"].value_counts()

KeyError: 'operation_type'

In [ ]:
data = data[data["operation_type"] == "Venta"]

In [ ]:
data["operation_type"].value_counts()

In [ ]:
data

,Unnamed: 0,start_date,end_date,created_on,lat,lon,l3,l4,rooms,surface_total,surface_covered,price,price_period,title,description,property_type
0,137,2020-08-22,2020-09-04,2020-08-22,-34.638910,-58.476073,Floresta,Sin datos,NaN,372.0,NaN,450000.0,Mensual,Exclente lote !!,"Lote 365 mts 8,90 x 43 mts C3 II.. FOT 3.6 PAR...",Lote
1,149,2020-08-22,2020-09-04,2020-08-22,-34.562124,-58.464449,Belgrano,Sin datos,NaN,NaN,NaN,20000.0,Mensual,Excelente cochera fija y cubierta en edificio ...,"Muy buena cochera, en el 4to piso en excelente...",Cochera
2,153,2020-08-22,2020-09-04,2020-08-22,-34.598112,-58.400784,Recoleta,Sin datos,NaN,265.0,265.0,600000.0,Mensual,Oficina comercial · 265m² · 2 Cochera,Gran Oportunidad! Unica piso de oficinas de 26...,Oficina
3,154,2020-08-22,2020-09-04,2020-08-22,-34.614123,-58.378985,Monserrat,Sin datos,5.0,150.0,150.0,195000.0,Mensual,Importante Oficina en Micro centro de 150 m2.,Importante Oficina de de 150 m2 con palier pr...,Oficina
4,155,2020-08-22,2020-09-04,2020-08-22,-34.603233,-58.385218,San Nicolás,Sin datos,1.0,NaN,12.0,22000.0,Mensual,Oficina - San Nicolas,VENTA DE OFICINA A METROS DEL PALACIO DE TRIBU...,Oficina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179801,999940,2020-12-04,2021-01-10,2020-12-04,-34.613926,-58.499472,Monte Castro,Sin datos,6.0,243.0,180.0,250000.0,NaN,PH 6 Ambientes c/cochera y terraza en Monte Ca...,Corredor Responsable: Rene Vera - CUCICBA 6778...,PH
179802,999959,2020-12-04,9999-12-31,2020-12-04,-34.570592,-58.462513,Belgrano,Sin datos,9.0,641.0,461.0,1650000.0,Mensual,Casa impecable en venta en la mejor zona de -...,Casa en pleno Belgrano R reciclada con excelen...,Casa
179803,999977,2020-12-04,2020-12-30,2020-12-04,-34.573074,-58.419353,Palermo,Sin datos,8.0,419.0,375.0,1350000.0,Mensual,Impactante vista a los parques. 420 m2 con coc...,Piso de 419 m2 en un emblemático edificio mode...,Departamento
179804,999978,2020-12-04,9999-12-31,2020-12-04,-34.563411,-58.445656,Belgrano,Sin datos,6.0,285.0,270.0,1400000.0,Mensual,Departamento - Belgrano,"Piso de 285mts, en la mejor zona de Belgrano.<...",Departamento
179805,999997,2020-12-04,9999-12-31,2020-12-04,-34.576445,-58.432603,Palermo,Sin datos,14.0,615.0,425.0,570000.0,Mensual,Edificio Comercial en excelente zona de Paler...,Edificio Comercial CON ENTRADA INDEPENDIENTE S...,Local comercial

In [ ]:
data["currency"].value_counts()

KeyError: 'currency'

In [ ]:
data = data[data["currency"] == "USD"]

In [ ]:
data

In [ ]:
nuevas_colum_drop = ["l2", "currency", "operation_type"]
data.drop(columns = nuevas_colum_drop, inplace = True)

KeyError: "['l2', 'currency', 'operation_type'] not found in axis"

In [ ]:
data

,Unnamed: 0,start_date,end_date,created_on,lat,lon,l3,l4,rooms,surface_total,surface_covered,price,price_period,title,description,property_type
0,137,2020-08-22,2020-09-04,2020-08-22,-34.638910,-58.476073,Floresta,Sin datos,NaN,372.0,NaN,450000.0,Mensual,Exclente lote !!,"Lote 365 mts 8,90 x 43 mts C3 II.. FOT 3.6 PAR...",Lote
1,149,2020-08-22,2020-09-04,2020-08-22,-34.562124,-58.464449,Belgrano,Sin datos,NaN,NaN,NaN,20000.0,Mensual,Excelente cochera fija y cubierta en edificio ...,"Muy buena cochera, en el 4to piso en excelente...",Cochera
2,153,2020-08-22,2020-09-04,2020-08-22,-34.598112,-58.400784,Recoleta,Sin datos,NaN,265.0,265.0,600000.0,Mensual,Oficina comercial · 265m² · 2 Cochera,Gran Oportunidad! Unica piso de oficinas de 26...,Oficina
3,154,2020-08-22,2020-09-04,2020-08-22,-34.614123,-58.378985,Monserrat,Sin datos,5.0,150.0,150.0,195000.0,Mensual,Importante Oficina en Micro centro de 150 m2.,Importante Oficina de de 150 m2 con palier pr...,Oficina
4,155,2020-08-22,2020-09-04,2020-08-22,-34.603233,-58.385218,San Nicolás,Sin datos,1.0,NaN,12.0,22000.0,Mensual,Oficina - San Nicolas,VENTA DE OFICINA A METROS DEL PALACIO DE TRIBU...,Oficina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179801,999940,2020-12-04,2021-01-10,2020-12-04,-34.613926,-58.499472,Monte Castro,Sin datos,6.0,243.0,180.0,250000.0,NaN,PH 6 Ambientes c/cochera y terraza en Monte Ca...,Corredor Responsable: Rene Vera - CUCICBA 6778...,PH
179802,999959,2020-12-04,9999-12-31,2020-12-04,-34.570592,-58.462513,Belgrano,Sin datos,9.0,641.0,461.0,1650000.0,Mensual,Casa impecable en venta en la mejor zona de -...,Casa en pleno Belgrano R reciclada con excelen...,Casa
179803,999977,2020-12-04,2020-12-30,2020-12-04,-34.573074,-58.419353,Palermo,Sin datos,8.0,419.0,375.0,1350000.0,Mensual,Impactante vista a los parques. 420 m2 con coc...,Piso de 419 m2 en un emblemático edificio mode...,Departamento
179804,999978,2020-12-04,9999-12-31,2020-12-04,-34.563411,-58.445656,Belgrano,Sin datos,6.0,285.0,270.0,1400000.0,Mensual,Departamento - Belgrano,"Piso de 285mts, en la mejor zona de Belgrano.<...",Departamento
179805,999997,2020-12-04,9999-12-31,2020-12-04,-34.576445,-58.432603,Palermo,Sin datos,14.0,615.0,425.0,570000.0,Mensual,Edificio Comercial en excelente zona de Paler...,Edificio Comercial CON ENTRADA INDEPENDIENTE S...,Local comercial

In [ ]:
data["rooms"].isnull().sum()

26665

In [ ]:
data

,Unnamed: 0,start_date,end_date,created_on,lat,lon,l3,l4,rooms,surface_total,surface_covered,price,price_period,title,description,property_type
0,137,2020-08-22,2020-09-04,2020-08-22,-34.638910,-58.476073,Floresta,Sin datos,NaN,372.0,NaN,450000.0,Mensual,Exclente lote !!,"Lote 365 mts 8,90 x 43 mts C3 II.. FOT 3.6 PAR...",Lote
1,149,2020-08-22,2020-09-04,2020-08-22,-34.562124,-58.464449,Belgrano,Sin datos,NaN,NaN,NaN,20000.0,Mensual,Excelente cochera fija y cubierta en edificio ...,"Muy buena cochera, en el 4to piso en excelente...",Cochera
2,153,2020-08-22,2020-09-04,2020-08-22,-34.598112,-58.400784,Recoleta,Sin datos,NaN,265.0,265.0,600000.0,Mensual,Oficina comercial · 265m² · 2 Cochera,Gran Oportunidad! Unica piso de oficinas de 26...,Oficina
3,154,2020-08-22,2020-09-04,2020-08-22,-34.614123,-58.378985,Monserrat,Sin datos,5.0,150.0,150.0,195000.0,Mensual,Importante Oficina en Micro centro de 150 m2.,Importante Oficina de de 150 m2 con palier pr...,Oficina
4,155,2020-08-22,2020-09-04,2020-08-22,-34.603233,-58.385218,San Nicolás,Sin datos,1.0,NaN,12.0,22000.0,Mensual,Oficina - San Nicolas,VENTA DE OFICINA A METROS DEL PALACIO DE TRIBU...,Oficina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179801,999940,2020-12-04,2021-01-10,2020-12-04,-34.613926,-58.499472,Monte Castro,Sin datos,6.0,243.0,180.0,250000.0,NaN,PH 6 Ambientes c/cochera y terraza en Monte Ca...,Corredor Responsable: Rene Vera - CUCICBA 6778...,PH
179802,999959,2020-12-04,9999-12-31,2020-12-04,-34.570592,-58.462513,Belgrano,Sin datos,9.0,641.0,461.0,1650000.0,Mensual,Casa impecable en venta en la mejor zona de -...,Casa en pleno Belgrano R reciclada con excelen...,Casa
179803,999977,2020-12-04,2020-12-30,2020-12-04,-34.573074,-58.419353,Palermo,Sin datos,8.0,419.0,375.0,1350000.0,Mensual,Impactante vista a los parques. 420 m2 con coc...,Piso de 419 m2 en un emblemático edificio mode...,Departamento
179804,999978,2020-12-04,9999-12-31,2020-12-04,-34.563411,-58.445656,Belgrano,Sin datos,6.0,285.0,270.0,1400000.0,Mensual,Departamento - Belgrano,"Piso de 285mts, en la mejor zona de Belgrano.<...",Departamento
179805,999997,2020-12-04,9999-12-31,2020-12-04,-34.576445,-58.432603,Palermo,Sin datos,14.0,615.0,425.0,570000.0,Mensual,Edificio Comercial en excelente zona de Paler...,Edificio Comercial CON ENTRADA INDEPENDIENTE S...,Local comercial

In [36]:
drop_tablas = ["title", "description", "price_period", "Unnamed: 0", "start_date", "end_date", "created_on"]
data.drop(columns = drop_tablas, inplace = True)

In [37]:
data

,lat,lon,l3,l4,rooms,surface_total,surface_covered,price,property_type
0,-34.638910,-58.476073,Floresta,Sin datos,NaN,372.0,NaN,450000.0,Lote
1,-34.562124,-58.464449,Belgrano,Sin datos,NaN,NaN,NaN,20000.0,Cochera
2,-34.598112,-58.400784,Recoleta,Sin datos,NaN,265.0,265.0,600000.0,Oficina
3,-34.614123,-58.378985,Monserrat,Sin datos,5.0,150.0,150.0,195000.0,Oficina
4,-34.603233,-58.385218,San Nicolás,Sin datos,1.0,NaN,12.0,22000.0,Oficina
...,...,...,...,...,...,...,...,...,...
179801,-34.613926,-58.499472,Monte Castro,Sin datos,6.0,243.0,180.0,250000.0,PH
179802,-34.570592,-58.462513,Belgrano,Sin datos,9.0,641.0,461.0,1650000.0,Casa
179803,-34.573074,-58.419353,Palermo,Sin datos,8.0,419.0,375.0,1350000.0,Departamento
179804,-34.563411,-58.445656,Belgrano,Sin datos,6.0,285.0,270.0,1400000.0,Departamento
179805,-34.576445,-58.432603,Palermo,Sin datos,14.0,615.0,425.0,570000.0,Local comercial

In [ ]:
data["property_type"].value_counts()

Departamento       131720
PH                  13469
Casa                 8428
Lote                 6888
Local comercial      6357
Oficina              5669
Cochera              5129
Otro                 1434
Depósito              704
Casa de campo           8
Name: property_type, dtype: int64

In [ ]:
data["l4"].value_counts()

Sin datos            172810
Palermo Hollywood      3080
Palermo Chico          1989
Palermo Soho           1584
Palermo Viejo           343
Name: l4, dtype: int64

In [38]:
dict_renombrar= {"l3":"Barrio", "l4":"Zona", "rooms":"Habitaciones", "price":"Precio", "property_type":"Tipo_propiedad"}
data.rename(columns=dict_renombrar, inplace =True)

In [39]:
data

,lat,lon,Barrio,Zona,Habitaciones,surface_total,surface_covered,Precio,Tipo_propiedad
0,-34.638910,-58.476073,Floresta,Sin datos,NaN,372.0,NaN,450000.0,Lote
1,-34.562124,-58.464449,Belgrano,Sin datos,NaN,NaN,NaN,20000.0,Cochera
2,-34.598112,-58.400784,Recoleta,Sin datos,NaN,265.0,265.0,600000.0,Oficina
3,-34.614123,-58.378985,Monserrat,Sin datos,5.0,150.0,150.0,195000.0,Oficina
4,-34.603233,-58.385218,San Nicolás,Sin datos,1.0,NaN,12.0,22000.0,Oficina
...,...,...,...,...,...,...,...,...,...
179801,-34.613926,-58.499472,Monte Castro,Sin datos,6.0,243.0,180.0,250000.0,PH
179802,-34.570592,-58.462513,Belgrano,Sin datos,9.0,641.0,461.0,1650000.0,Casa
179803,-34.573074,-58.419353,Palermo,Sin datos,8.0,419.0,375.0,1350000.0,Departamento
179804,-34.563411,-58.445656,Belgrano,Sin datos,6.0,285.0,270.0,1400000.0,Departamento
179805,-34.576445,-58.432603,Palermo,Sin datos,14.0,615.0,425.0,570000.0,Local comercial

In [40]:
data = pd.get_dummies(data,  drop_first=True)
data

,lat,lon,Habitaciones,surface_total,surface_covered,Precio,Barrio_Agronomía,Barrio_Almagro,Barrio_Balvanera,Barrio_Barracas,...,Zona_Sin datos,Tipo_propiedad_Casa de campo,Tipo_propiedad_Cochera,Tipo_propiedad_Departamento,Tipo_propiedad_Depósito,Tipo_propiedad_Local comercial,Tipo_propiedad_Lote,Tipo_propiedad_Oficina,Tipo_propiedad_Otro,Tipo_propiedad_PH
0,-34.638910,-58.476073,NaN,372.0,NaN,450000.0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,-34.562124,-58.464449,NaN,NaN,NaN,20000.0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
2,-34.598112,-58.400784,NaN,265.0,265.0,600000.0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3,-34.614123,-58.378985,5.0,150.0,150.0,195000.0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
4,-34.603233,-58.385218,1.0,NaN,12.0,22000.0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179801,-34.613926,-58.499472,6.0,243.0,180.0,250000.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
179802,-34.570592,-58.462513,9.0,641.0,461.0,1650000.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
179803,-34.573074,-58.419353,8.0,419.0,375.0,1350000.0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
179804,-34.563411,-58.445656,6.0,285.0,270.0,1400000.0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
179805,-34.576445,-58.432603,14.0,615.0,425.0,570000.0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [51]:
data['Habitaciones'].isnull().sum()

26665

In [52]:
data["Habitaciones"].loc[data["Habitaciones"].isnull()] = "Sin datos"

C:\Users\miran\AppData\Local\Temp\ipykernel_14876\1858713240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Habitaciones"].loc[data["Habitaciones"].isnull()] = "Sin datos"

In [53]:
data

,lat,lon,Habitaciones,surface_total,surface_covered,Precio,Barrio_Agronomía,Barrio_Almagro,Barrio_Balvanera,Barrio_Barracas,...,Zona_Sin datos,Tipo_propiedad_Casa de campo,Tipo_propiedad_Cochera,Tipo_propiedad_Departamento,Tipo_propiedad_Depósito,Tipo_propiedad_Local comercial,Tipo_propiedad_Lote,Tipo_propiedad_Oficina,Tipo_propiedad_Otro,Tipo_propiedad_PH
0,-34.638910,-58.476073,Sin datos,372.0,NaN,450000.0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,-34.562124,-58.464449,Sin datos,NaN,NaN,20000.0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
2,-34.598112,-58.400784,Sin datos,265.0,265.0,600000.0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3,-34.614123,-58.378985,5.0,150.0,150.0,195000.0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
4,-34.603233,-58.385218,1.0,NaN,12.0,22000.0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179801,-34.613926,-58.499472,6.0,243.0,180.0,250000.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
179802,-34.570592,-58.462513,9.0,641.0,461.0,1650000.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
179803,-34.573074,-58.419353,8.0,419.0,375.0,1350000.0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
179804,-34.563411,-58.445656,6.0,285.0,270.0,1400000.0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
179805,-34.576445,-58.432603,14.0,615.0,425.0,570000.0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [68]:
data = pd.get_dummies(data,  drop_first=True)
data

,lat,lon,surface_total,surface_covered,Precio,Barrio_Agronomía,Barrio_Almagro,Barrio_Balvanera,Barrio_Barracas,Barrio_Barrio Norte,...,Tipo_propiedad_Depósito,Tipo_propiedad_Local comercial,Tipo_propiedad_Lote,Tipo_propiedad_Oficina,Tipo_propiedad_Otro,Tipo_propiedad_PH,Habitaciones_4+ amb,Habitaciones_Sin datos,Habitaciones_dos amb,Habitaciones_monoambiente
0,-34.638910,-58.476073,372.0,NaN,450000.0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,-34.562124,-58.464449,NaN,NaN,20000.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,-34.598112,-58.400784,265.0,265.0,600000.0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
3,-34.614123,-58.378985,150.0,150.0,195000.0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
4,-34.603233,-58.385218,NaN,12.0,22000.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179801,-34.613926,-58.499472,243.0,180.0,250000.0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
179802,-34.570592,-58.462513,641.0,461.0,1650000.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
179803,-34.573074,-58.419353,419.0,375.0,1350000.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
179804,-34.563411,-58.445656,285.0,270.0,1400000.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
179805,-34.576445,-58.432603,615.0,425.0,570000.0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [69]:
data['surface_total'].isnull().sum()

60075

In [70]:
data['surface_covered'].isnull().sum()

61531

In [73]:
data[data['surface_total'].isnull()]

,lat,lon,surface_total,surface_covered,Precio,Barrio_Agronomía,Barrio_Almagro,Barrio_Balvanera,Barrio_Barracas,Barrio_Barrio Norte,...,Tipo_propiedad_Depósito,Tipo_propiedad_Local comercial,Tipo_propiedad_Lote,Tipo_propiedad_Oficina,Tipo_propiedad_Otro,Tipo_propiedad_PH,Habitaciones_4+ amb,Habitaciones_Sin datos,Habitaciones_dos amb,Habitaciones_monoambiente
1,-34.562124,-58.464449,NaN,NaN,20000.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,-34.603233,-58.385218,NaN,12.0,22000.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
5,-34.605346,-58.387185,NaN,146.0,220000.0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
6,-34.605346,-58.387185,NaN,75.0,110000.0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
7,-34.605346,-58.387185,NaN,71.0,105000.0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179771,-34.618871,-58.431248,NaN,84.0,195000.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
179772,-34.622973,-58.439913,NaN,NaN,465000.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
179776,-34.597508,-58.403167,NaN,120.0,239000.0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
179784,-34.627756,-58.403768,NaN,NaN,325000.0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
179798,-34.614237,-58.394551,NaN,NaN,235000.0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [60]:
import numpy as np
dict_amb = {'Sin datos':'Sin datos',1:'monoambiente',2:'dos amb',3:'3 amb'}

In [66]:
data['Habitaciones'] = data['Habitaciones'].map(dict_amb).fillna('4+ amb')

In [71]:
data

,lat,lon,surface_total,surface_covered,Precio,Barrio_Agronomía,Barrio_Almagro,Barrio_Balvanera,Barrio_Barracas,Barrio_Barrio Norte,...,Tipo_propiedad_Depósito,Tipo_propiedad_Local comercial,Tipo_propiedad_Lote,Tipo_propiedad_Oficina,Tipo_propiedad_Otro,Tipo_propiedad_PH,Habitaciones_4+ amb,Habitaciones_Sin datos,Habitaciones_dos amb,Habitaciones_monoambiente
0,-34.638910,-58.476073,372.0,NaN,450000.0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,-34.562124,-58.464449,NaN,NaN,20000.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,-34.598112,-58.400784,265.0,265.0,600000.0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
3,-34.614123,-58.378985,150.0,150.0,195000.0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
4,-34.603233,-58.385218,NaN,12.0,22000.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179801,-34.613926,-58.499472,243.0,180.0,250000.0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
179802,-34.570592,-58.462513,641.0,461.0,1650000.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
179803,-34.573074,-58.419353,419.0,375.0,1350000.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
179804,-34.563411,-58.445656,285.0,270.0,1400000.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
179805,-34.576445,-58.432603,615.0,425.0,570000.0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [41]:
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
X = data.drop(columns = "Habitaciones")   #variables predictora
y = data["Precio"]   #variable a predecir

In [42]:
from sklearn.model_selection import train_test_split

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=138)

In [43]:
from sklearn.tree import DecisionTreeClassifier

In [47]:
arbol = DecisionTreeClassifier()

In [ ]:
arbol.fit(X_train, y_train)

In [44]:
from sklearn import tree

In [ ]:
class_names = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']
plt.figure(figsize = (15,15))
tree.plot_tree(arbol, feature_names=data.columns[:-1],filled=True,rounded=True, class_names=class_names)

In [ ]:
#data.to_csv("datasets_modif.csv")